button {
	border: none;
	background-color: aqua;
	border-radius: 5px;
	padding: 8px 15px 8px 15px;
	transition: all 0.3s;
}

button:hover {
	background-color: red;
}
button:active {
	background-color: white;
}